
.content-title { 
    font-family: $roboto-font;
    font-size: $paragraph-font-size;
    font-weight: 500;
    color: $title-color;
    margin-left: 19px;
    align-self: center;
}

.account-text {    // account text
    font-family: $roboto-font;
    font-weight: lighter;
    font-size: $account-font-size;
    color: $account-color;
    text-align: center;
}

.link-text {
    font-family: $roboto-font;
    font-weight: lighter;
    font-size: $paragraph-font-size;
    color: $account-color;
    text-align: center;
}

.sidebar-links-text {    //sidebar text 
    font-family: $roboto-font;
    font-weight: lighter;
    font-size: $sidebar-font-size;
    color: $grey-color;
}

.sidebar-subtitle {
    margin: 0 0 0 18px;
    font-weight: 400;
    font-family: $roboto-font;
    font-weight: lighter;
    font-size: $sidebar-font-size;
    color: $grey-color;
}

 .inside-content-text { 
    font-family: $roboto-font;
    font-weight: 700;
    font-size: 16px;
    color: $title-color;
}

.amount-money-text { 
    font-family: $roboto-font;
    font-size: $head-font-size;
    color: $grey-color;
    font-weight: lighter;

}

.container {
    width: 100%;
    max-width: 1056px;
    background-color: white;
    
}

.row {
    display: flex;
}

body {
    background-color: $background-color;
    border-bottom: 1px solid $border-color;
}

a {
    text-decoration: none;
}

section {
    margin: 0 auto;
    transition: .35s;
    text-align: center;

}

.content-container {
    width: 700px;
    margin: auto;
}



// toggles 


.disable {
    display: none;
}

.active-section {
    display: block;
}

.sidebar-hidden {
    transform: translate(-188px, 0px);
    
  }

.hamburger-icon-hidden{
    transform: translate(50px, 0px);
    
}

.margin-width {
    margin-left: 10px;
    
   
}